// app/javascript/stylesheets/application.scss

@import 'bootstrap' ;

body{
    background: #d0e7c0;
}
// #accordion{
//       cursor: pointer;  
// }
#p{
  background-color: #973c97;
  box-shadow: inset 0 3px 7px rgba(#000, 0.2);
}
#item{
  background-color: #72479c;
  color: #f4ce74;
}
#emp_name{
  background-color: #973c97;
  box-shadow: inset 0 3px 7px rgba(#000, 0.2);
}
#user_role{
  background-color: #72479c;
  color: #f4ce74;
}