<h3>Candidate</h3>
<table>

	<thead>
		<tr>
				<th>Title</th>
				<th scope="col">Value</th>
		</tr>
	</thead>

	<tbody>
		<tr>
				<th scope="row">Status</th>
				<td><%= @candidate.status %></td>
		</tr>
		<tr>
				<th scope="row">Intervew Number</th>
				<td><%= @candidate.intervew_number %></td>
		</tr>
		<tr>
				<th scope="row">Feedback</th>
				<td><%= @candidate.feedback %></td>
		</tr>
		<tr>
				<th scope="row">Intervewer Name</th>
				<td><%= @candidate.intervewer_name %></td>
		</tr>
	</tbody>
	
</table>
